<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ML Community</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='ml-fav2.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  
</head>
<body>
  <div class="container">
    <h1 class="hi">ML Community</h1>
    <img class="logo" src="https://money-lesson-.eddyconnect.repl.co/static/ml-logo.jpg"  alt="ML Logo">"
    <h2>About ML Community</h2>
    <p>ML Community is a forum for individuals interested in discussing and learning about Personal Finance, Investing and Business. <br> This group is dedicated to providing a supportive and informative environment for members to ask questions, share their knowledge and experiences, and engage in discussions related to finance. <br> Whether you are a seasoned professional or just starting out on your financial journey, there is something for you in this group.
    </p>
    <h2>Groups You can Join</h2>
    <p>TODO - Show groups</p>
    <button>Contact us</button>
  </div>
</body>
</html>